/* App.css */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: 550px;
  height: 100%;
  background-color: #f0f0f0;
  position: fixed;
  right: -250px; /* Start off-screen */
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(-250px); /* Slide in from the right */
}

.sidebar.closed {
  transform: translateX(0); /* Slide out to the right */
}

.content {
  padding: 20px;
}
